/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 3, 2021, 11:37:14 PM
    Author     : VIP
*/

body{
    background-color: lightblue;
}
